@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/KFOjCneDtsqEr0keqCMhbCc6CsE.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/KFO-CneDtsqEr0keqCMhbC-BL9H1tYg.ttf) format('truetype');
}
